<nav>


    <script type="text/javascript" src="js/ClassEditor.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/SearchSystem.js"></script>
    <script src="js/ImportSystem.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <div class="nav-wrapper indigo darken-4">
        <a href="#" class="brand-logo" ><img src="img/logo.png" style="margin-top: 2px"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right  hide-on-med-and-down">
            <li><a href="./partial/about.html">Компания</a></li>
            <li><a href="./partial/services.html">Услуги</a></li>
            <li><a href="./partial/newspage.html">Новости</a></li>
            <li><a href="./partial/career.html">Карьера</a></li>
            <li><a href="./partial/contacts.html">Контакты</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="indigo darken-4">
                <div class="row" id="search_container_mobile">
                    <div class="col s12 white-text indigo darken-4">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" >search</i>
                                <input type="text" id="autocomplete-input_mobile" class="autocomplete">

                                <label for="autocomplete-input_mobile">Поиск</label>

                            </div>
                        </div>
                    </div></div></li>




            <li id = "mob_company"><a href="./partial/about.html">Компания</a></li>
            <li id = "mob_services"><a href="./partial/services.html">Услуги</a></li>
            <li id = "mob_news"><a href="./partial/newspage.html">Новости</a></li>
            <li id = "mob_career"><a href="./partial/career.html">Карьера</a></li>
            <li id=  "mob_contacts"><a href="./partial/contacts.html">Контакты</a></li>
            <li class="hide" id="search_result_mobile"><div class="row valign-wrapper">

                <div id="search_result_mob_div" class="col s12 m12 l12 center center-align">
                    <h5 class="black-text center center-align">Что удалось найти</h5>
                    <img id="mob_preloader" src="images/bx_loader.gif">
                </div>


            </div></li>
        </ul>


        <div class="row hide-on-med-and-down" id="search_container" style=" margin-left:200px ; padding-top: 1px; width: 450px">
            <div class="col s12 ">
                <div class="row">
                    <div class="input-field col s12" >
                        <i class="material-icons prefix" style="padding-top: -2px">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Поиск</label>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <script>

        $( document ).ready(function() {

            $(".button-collapse").sideNav();

            $(document).ready(function () {
                $('select').material_select();
            });



            $('input.autocomplete').autocomplete({
                data: {
                    "Аутсорсинг": null,
                    "Пожарная сигнализация": null,
                    "О компании": 'http://placehold.it/250x250'
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });
        });


        $(window).onloadend(function () {




                $(".button-collapse").sideNav();

                $(document).ready(function () {
                    $('select').material_select();
                });


                $(".button-collapse").sideNav();

                $('input.autocomplete').autocomplete({
                    data: {
                        "Аутсорсинг": null,
                        "Пожарная сигнализация": null,
                        "О компании": 'http://placehold.it/250x250'
                    },
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                    onAutocomplete: function (val) {
                        // Callback function when value is autcompleted.
                    },
                    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                });



        })


    </script>
</nav>