<div class="container">
    <div class="postcontent">
        <h4 style="text-align: center;"><strong>ООО "Научно-Иследовательский Учебный Центр Промышленной Безопасности"</strong></h4>
        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Центр охраны труда с 2008 года занимается предоставлением услуг в сфере обучения по охране труда по различным направлениям подготовки. В Центре действует электротехническая лаборатория, выполняющая работы по электротехническим испытаниям и измерениям электрооборудования.</p>
        <p style="text-align: justify;"><strong>Адрес:</strong> проспект Гагарина 6а </p>




        <p style="text-align: justify;"><strong>Банковские реквизиты:</strong></p>
        <ul>
            <li style="text-align: justify;">тут типа реквезиты</li>
        </ul>
        <p style="text-align: justify;"><strong>Разрешительные документы:</strong></p>
        <ul>

            <li style="text-align: justify;">тут типа документы</li>
                 </ul>
         <p style="text-align: center;">&nbsp;</p>


        <div class="carousel indigo darken-3">
            <h4 class="white-text center center-align">Наши клиенты</h4>
            <a class="carousel-item" href="#one!"><img src="img/Socar-300x300.jpeg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#two!"><img src="img/katral.jpg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#three!"><img src="img/okko_logo.gif" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#four!"><img src="img/logo.jpg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#five!"><img src="img/icon350x350.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/ais_auto_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/adm_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/dakcc_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/delta_vilmar_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/intostroy_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/vectt_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
        </div>





        <h5 class="center center align">Как нас найти</h5>
<div class="row">
    <iframe class="col l12 s12 m12 center center-align"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.448883510141!2d30.751237315591005!3d46.45961597912534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a2758dbf92c21bc!2z0J7QntCeINCd0LDRg9GH0L3Qvi3QmNGB0YHQu9C10LTQvtCy0LDRgtC10LvRjNGB0LrQuNC5INCj0YfQtdCx0L3Qvi3QmtGD0YDRgdC-0LLQvtC5INCa0L7QvdGB0YPQu9GM0YLQsNGG0LjQvtC90L3Ri9C5INCm0LXQvdGC0YAg0J_RgNC-0LzRi9GI0LvQtdC90L3QvtC5INCR0LXQt9C-0L_QsNGB0L3QvtGB0YLQuA!5e0!3m2!1sru!2s!4v1492365926764" frameborder="0" width="600px" height="600px" style="border:0; width: 100%;" allowfullscreen></iframe>
</div>


</div></div>