<div class="container">
    <div class="postcontent">
        <h4 style="text-align: center;"><strong>ООО "Консультационно-обучающий центр охраны труда"</strong></h4>
        <p style="text-align: justify;">Центр охраны труда с 2002 года занимается предоставлением услуг в сфере обучения по охране труда по различным направлениям подготовки. В Центре действует электротехническая лаборатория, выполняющая работы по электротехническим испытаниям и измерениям электрооборудования. Также мы занимаемся продажей литературы, нормативных актов, плакатов и стендов по охране труда.</p>
        <p style="text-align: justify;"><strong>Адрес:</strong></p>
        <ul>
            <li style="text-align: justify;"><a href="http://2gis.ua/odessa/firm/1970853118021719/center/30.750525,46.459705/zoom/16?utm_medium=widget&amp;utm_campaign=firmsonmap&amp;utm_source=bigMap" target="_blank">г. Одесса, пр-т Шевченко, 1, Политехнический университет, главный учебный корпус, кафедра теоретической механики и машиноведения, каб. 142-а</a></li>
        </ul>
        <p style="text-align: justify;"><strong>Банковские реквизиты:</strong></p>
        <ul>
            <li style="text-align: justify;">ЕДРПОУ 32093955; р/с 26001310673301 в АБ “Пiвденний”; г. Одесса, МФО 328209</li>
        </ul>
        <p style="text-align: justify;"><strong>Разрешительные документы:</strong></p>
        <ul>
            <li style="text-align: justify;"><a href="/images/knc_gosreestr.jpg" target="_blank">Свидетельство о государственной регистрации</a></li>
            <li style="text-align: justify;"><a href="/images/knc_en2012_1.jpg" target="_blank">Свидетельство плательщика единого налога</a></li>
            <li style="text-align: justify;"><a href="/images/knc_en2012_2.jpg" target="_blank">Свидетельство плательщика единого налога (оборот)</a></li>
            <li style="text-align: justify;"><a href="/images/knc_vityag.rar" target="_blank">Извлечение из ЄДРПУО</a></li>
            <li style="text-align: justify;"><a href="/images/knc_start.png" target="_blank">Разрешение на начало работы</a></li>
            <li style="text-align: justify;"><a href="/images/knc_perelik.jpg" target="_blank">Свидетельство о внесении в Перечень субъектов хозяйствования, которые осуществляют обучение по охране труда должностных лиц</a></li>
        </ul>
        <p style="text-align: justify;"><strong>Электротехническая лаборатория ООО "Консультационно-обучающий центр охраны труда"</strong></p>
        <ul>
            <li style="text-align: justify;"><a href="/images/knclab_atestat.jpg" target="_blank">Свидетельство об аттестации в ГП "Одессастандартметрология"</a></li>
            <li style="text-align: justify;"><a href="/images/knclab_dozvil_roboty.jpg" target="_blank">Разрешение Госгорпромнадзора на выполнение работ повышенной опасности</a></li>
            <li style="text-align: justify;"><a href="/images/knclab_dozvil_oborud.jpg" target="_blank">Разрешение Госгорпромнадзора на эксплуатацию электрооборудования напряжением до и выше 1000В</a></li>
        </ul>
        <p style="text-align: center;">&nbsp;</p>
        <h4 style="text-align: center;"><strong>СПД Гаджий Ю.Г.</strong></h4>
        <p style="text-align: justify;"><strong style="color: #333333; font-family: Arial; font-size: 14px; text-align: justify;">Банковские реквизиты:</strong></p>
        <ul>
            <li style="text-align: justify;">ЕДРПОУ 2322515871; р/с 26008511508201 в АБ “Пiвденний”; г. Одесса, МФО 328209</li>
        </ul>
        <p style="text-align: justify;"><strong>Разрешительные документы:</strong></p>
        <ul>
            <li style="text-align: justify;"><a href="/images/fop_gosreestr.jpg" target="_blank">Свидетельство о государственной регистрации</a></li>
            <li style="text-align: justify;"><a href="/images/fop_en1.jpg" target="_blank">Свидетельство плательщика единого налога</a></li>
            <li style="text-align: justify;"><a href="/images/fop_en2.jpg" target="_blank">Свидетельство плательщика единого налога (оборот)</a></li>
            <li style="text-align: justify;"><a href="/images/fop_vityag.rar" target="_blank">Извлечение из ЄДРПУО</a></li>
        </ul> </div>

    <h5 class="white-text center center align">Как нас найти</h5>
<div class="row">
    <iframe class="col l12 s12 m12 center center-align"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.448883510141!2d30.751237315591005!3d46.45961597912534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a2758dbf92c21bc!2z0J7QntCeINCd0LDRg9GH0L3Qvi3QmNGB0YHQu9C10LTQvtCy0LDRgtC10LvRjNGB0LrQuNC5INCj0YfQtdCx0L3Qvi3QmtGD0YDRgdC-0LLQvtC5INCa0L7QvdGB0YPQu9GM0YLQsNGG0LjQvtC90L3Ri9C5INCm0LXQvdGC0YAg0J_RgNC-0LzRi9GI0LvQtdC90L3QvtC5INCR0LXQt9C-0L_QsNGB0L3QvtGB0YLQuA!5e0!3m2!1sru!2s!4v1492365926764" frameborder="0" style="border:0; width: inherit" allowfullscreen></iframe>
</div>


</div>