<div class="container">
    <div class="postcontent">
        <h4 style="text-align: center;"><strong>ООО "Научно-Иследовательский Учебный Центр Промышленной Безопасности"</strong></h4>
        <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;Центр охраны труда с 2008 года занимается предоставлением услуг в сфере обучения по охране труда по различным направлениям подготовки. В Центре действует электротехническая лаборатория, выполняющая работы по электротехническим испытаниям и измерениям электрооборудования.</p>
        <p style="text-align: justify;"><strong>Адрес:</strong> ул Пироговская 3Б </p>




        <p style="text-align: justify;"><strong>Банковские реквизиты:</strong></p>
        <ul>
            <li style="text-align: justify;">тут типа реквезиты</li>
        </ul>
        <p style="text-align: justify;"><strong>Разрешительные документы:</strong></p>
        <ul>

            <li style="text-align: justify;">тут типа документы</li>
                 </ul>
         <p style="text-align: center;">&nbsp;</p>

    </div></div>
        <div class="carousel indigo darken-3">
            <h4 class="white-text center center-align">Наши клиенты</h4>
            <a class="carousel-item" href="#one!"><img src="img/Socar-300x300.jpeg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#two!"><img src="img/katral.jpg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#three!"><img src="img/okko_logo.gif" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#four!"><img src="img/logo.jpg" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#five!"><img src="img/icon350x350.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/ais_auto_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/adm_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/dakcc_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/delta_vilmar_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/intostroy_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
            <a class="carousel-item" href="#six!"><img src="img/vectt_logo.png" style="width:200px;height:200px;overflow:hidden; top: 0; bottom:0; left: 0; right:0; margin: auto;"></a>
        </div>


<div class="container">


        <h5 class="center center align">Как нас найти</h5>
<div class="row">
    <iframe class="col l12 s12 m12 center center-align"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.4371774921656!2d30.718454687449896!3d46.47965516939491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318d82f63619%3A0x375b26ca45f00c52!2z0KDQsNGB0LrQuNC00LDQudC70L7QstGB0LrQsNGPINGD0LsuLCAzLCDQntC00LXRgdGB0LAsINCe0LTQtdGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1510690475404" frameborder="0" width="600px" height="600px" style="border:0; width: 100%;" allowfullscreen></iframe>
</div>


</div>