
<br>
<h4 class="center center-align">Наши контакты</h4>
<div class="container">
<div id="ttr_content_margin">
    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
    <div class="contenttopcolumn0">



    <article class="ttr_post">
        <div class="ttr_post_content_inner">
            <div class="ttr_post_inner_box">

            </div>
            <div class="ttr_article">
                <div class="postcontent">
                    <p style="font-size: 26.015998840332px; text-align: justify;"><strong>Телефоны:</strong></p>
                    <ul style="font-size: 20.015998840332px;">
                        <li style="text-align: justify;">( 048 ) 734 - 24 - 54 &nbsp;</li>
                    </ul>
                    <p style="font-size: 26.015998840332px; text-align: justify;"><strong>e-mail:</strong></p>
                    <p style="font-size: 20.015998840332px; text-align: justify;"><span id="cloak26bbd77ca073f1d2e932a17db6d30783"><a href="mailto:pbezpeka@mail.ru">pbezpeka@mail.ru</a></span><script type="text/javascript">
                        document.getElementById('cloak26bbd77ca073f1d2e932a17db6d30783').innerHTML = '';
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy26bbd77ca073f1d2e932a17db6d30783 = '&#111;t.&#117;&#97;' + '&#64;';
                        addy26bbd77ca073f1d2e932a17db6d30783 = addy26bbd77ca073f1d2e932a17db6d30783 + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';
                        var addy_text26bbd77ca073f1d2e932a17db6d30783 = '&#111;t.&#117;&#97;' + '&#64;' + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';document.getElementById('cloak26bbd77ca073f1d2e932a17db6d30783').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy26bbd77ca073f1d2e932a17db6d30783 + '\'>'+addy_text26bbd77ca073f1d2e932a17db6d30783+'<\/a>';
                    </script></p>
                    <p style="font-size: 26px; text-align: justify;"><strong>Адрес:</strong></p>
                    <ul>
                        <li style=" font-size: 20px ;text-align: justify;">г. Одесса, пр-т Гагарина 6а</li>
                    </ul>
                </div>
        </div>
        </div>
    </article>


        <p style="font-size: 26px; text-align: justify;"><strong>Как нас найти:</strong></p>
        <div class="row">
            <iframe class="col l12 s12 m12 center center-align"  src="https://www.google.ru/maps/place/%D0%A2%D0%9E%D0%92+%22%D0%9D%D0%94%D0%A3%D0%9A%D0%9A%D0%A6+%D0%9F%D0%A0%D0%9E%D0%9C%D0%98%D0%A1%D0%9B%D0%9E%D0%92%D0%9E%D0%87+%D0%91%D0%95%D0%97%D0%9F%D0%95%D0%9A%D0%98%22/@46.4633285,30.7528219,19z/data=!3m1!4b1!4m5!3m4!1s0x40c631630da979f1:0x26a8b736e9461276!8m2!3d46.4633285!4d30.7533691" frameborder="0" width="600px" height="600px" style="border:0; width: 100%;" allowfullscreen></iframe>
        </div>




    </div></div>
</div>