
<br>
<h4 class="center center-align">Наши контакты</h4>
<div class="container">
<div id="ttr_content_margin">
    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
    <div class="contenttopcolumn0">



    <article class="ttr_post">
        <div class="ttr_post_content_inner">
            <div class="ttr_post_inner_box">

            </div>
            <div class="ttr_article">
                <div class="postcontent">
                    <p style="font-size: 26.015998840332px; text-align: justify;"><strong>Телефоны:</strong></p>
                    <ul style="font-size: 20.015998840332px;">
                        <li style="text-align: justify;">(048) 788-04-60;&nbsp;</li>
                        <li style="text-align: justify;"><span style="font-size: 16.016px;">(094) 886-04-60.</span></li>
                    </ul>
                    <p style="font-size: 26.015998840332px; text-align: justify;"><strong>e-mail:</strong></p>
                    <p style="font-size: 20.015998840332px; text-align: justify;"><span id="cloak26bbd77ca073f1d2e932a17db6d30783"><a href="mailto:pbezpeka@mail.ru">pbezpeka@mail.ru</a></span><script type="text/javascript">
                        document.getElementById('cloak26bbd77ca073f1d2e932a17db6d30783').innerHTML = '';
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy26bbd77ca073f1d2e932a17db6d30783 = '&#111;t.&#117;&#97;' + '&#64;';
                        addy26bbd77ca073f1d2e932a17db6d30783 = addy26bbd77ca073f1d2e932a17db6d30783 + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';
                        var addy_text26bbd77ca073f1d2e932a17db6d30783 = '&#111;t.&#117;&#97;' + '&#64;' + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';document.getElementById('cloak26bbd77ca073f1d2e932a17db6d30783').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy26bbd77ca073f1d2e932a17db6d30783 + '\'>'+addy_text26bbd77ca073f1d2e932a17db6d30783+'<\/a>';
                    </script></p>
                    <p style="font-size: 26px; text-align: justify;"><strong>Адрес:</strong></p>
                    <ul>
                        <li style=" font-size: 20px ;text-align: justify;">г. Одесса, пр-т Гагарина 6а</li>
                    </ul>
                </div>
        </div>
        </div>
    </article>


        <p style="font-size: 26px; text-align: justify;"><strong>Как нас найти:</strong></p>
        <div class="row">
            <iframe class="col l12 s12 m12 center center-align"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.448883510141!2d30.751237315591005!3d46.45961597912534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a2758dbf92c21bc!2z0J7QntCeINCd0LDRg9GH0L3Qvi3QmNGB0YHQu9C10LTQvtCy0LDRgtC10LvRjNGB0LrQuNC5INCj0YfQtdCx0L3Qvi3QmtGD0YDRgdC-0LLQvtC5INCa0L7QvdGB0YPQu9GM0YLQsNGG0LjQvtC90L3Ri9C5INCm0LXQvdGC0YAg0J_RgNC-0LzRi9GI0LvQtdC90L3QvtC5INCR0LXQt9C-0L_QsNGB0L3QvtGB0YLQuA!5e0!3m2!1sru!2s!4v1492365926764" frameborder="0" width="600px" height="600px" style="border:0; width: 100%;" allowfullscreen></iframe>
        </div>




    </div></div>
</div>