<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>

<header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-right-content">
                    <div class="header-info">
                        <p>
                            НУИККЦПБ - лидер промышленой безопасности, по всей Украине с 2000-го года!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-right-content text-right">
                    <p>Телефон: +3(048)777-77-77</p>
                    <p>Главный офис: ул. Гагарина 18-а, Одесса, Украина</p>
                    <button class="btn btn-primary">Заказть обратный звонок</button>
                </div>
            </div>

        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <ul>

                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Компания</a></li>
                <li><a href="#">Услуги</a></li>
                <li id="active-header-menu"><a href="../partial/newspage.html">Новости</a></li>
                <li><a href="#">Карьера</a></li>
                <li><a href="#">Контакты</a></li>
                <li class=""><a href="#">Поиск</a></li>


            </ul>
        </div>
    </div>
</header>
<!--Контент с новостьями-->
<article>
    <div class="center-bottom-content">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <h1>Последние новости</h1>
                </div>
                <div class="col-md-9">
                    <div class="news-block-panel">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../img/news-bloks.jpg" alt="news-block">
                                <a href="#"><b>Нашли виноватого в управленческом скандале на
                                    происводстве</b></a>
                                <p>Consequatur expedita fugiat natus, ratione similique voluptates
                                    voluptatibus.</p>

                                <a href="#" class="info-news">Подробнее</a>
                            </div>
                            <div class="col-md-4">
                                <img src="../img/news-bloks.jpg" alt="news-block">
                                <a href="#"><b>Нашли виноватого в управленческом скандале на
                                    происводстве</b></a>
                                <p>Consequatur expedita fugiat natus, ratione similique voluptates
                                    voluptatibus.</p>

                                <a href="#" class="info-news">Подробнее</a>
                            </div>
                            <div class="col-md-4">
                                <img src="../img/news-bloks.jpg" alt="news-block">
                                <a href="#"><b>Нашли виноватого в управленческом скандале на
                                    происводстве</b></a>
                                <p>Consequatur expedita fugiat natus, ratione similique voluptates
                                    voluptatibus.</p>

                                <a href="#" class="info-news">Подробнее</a>
                            </div>

                        </div>
                        <!--Новые материалы-->
                        <div class="new-news">
                            <div class="row">
                                <h1>Новые материалы</h1>
                                <div class="new-news-block">
                                    <div class="col-md-4">
                                        <img src="../img/new-news.png" alt="new-news">
                                        <h5>Интересное</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequat</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="../img/new-news.png" alt="new-news">
                                        <h5>Интересное</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequat</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="../img/new-news.png" alt="new-news">
                                        <h5>Интересное</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequat</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-primary">Больше новостей</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Правая колонка с новостями -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="news-block">
                            <div class="all-news-btn">
                                <a href="#">
                                    <img src="../img/icon-btn.png" alt="icon-btn"> Последние новости за сегодня
                                </a>
                            </div>
                            <div class="news-date text-center">
                                <p><b>19 июля 2016 год</b></p>
                            </div>
                            <ul>
                                <li>
                                    <div class="news-block-content">
                                        <b>20.00</b>
                                        <p>
                                            <a href="#"> Ad aspernatur eveniet, explicabo facere facilis, id quam
                                                quasi quis tempora vita</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-block-content">
                                        <b>20.00</b>
                                        <p>
                                            <a href="#"> Ad aspernatur eveniet, explicabo facere facilis, id quam
                                                quasi quis tempora vita</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-block-content">
                                        <b>20.00</b>
                                        <p>
                                            <a href="#"> Ad aspernatur eveniet, explicabo facere facilis, id quam
                                                quasi quis tempora vita</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-block-content">
                                        <b>20.00</b>
                                        <p>
                                            <a href="#"> Ad aspernatur eveniet, explicabo facere facilis, id quam
                                                quasi quis tempora vita</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-block-content">
                                        <b>20.00</b>
                                        <p>
                                            <a href="#"> Ad aspernatur eveniet, explicabo facere facilis, id quam
                                                quasi quis tempora vita</a>
                                        </p>
                                    </div>
                                </li>


                            </ul>
                            <div class="all-news-btn">
                                <a href="#">
                                    <img src="../img/icon-btn.png" alt="icon-btn"> Все новости
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-news">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <h1>Популярные материалы</h1>
                </div>
                <div class="row">
                    <div class="popular-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                    <div class="popular-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                    <div class="popular-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="show-popular-news text-center">
                        <a href="#">Показать больше новостей</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="best-news">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <h1>Лучшие новости за неделю</h1>
                </div>
                <div class="row">
                    <div class="best-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                    <div class="best-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                    <div class="best-news-block">
                        <div class="col-md-4 ">
                            <img src="../img/popular-news.jpg" alt="popular-news">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, aperiam
                                cupiditate, debitis, deserunt dolorem fugit hic inventore iure laborum nemo</h4>
                            <a href="#">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-default">
                        Показать больше новостей
                    </button>
                </div>
            </div>
        </div>
    </div>
</article>

<footer>

    <div class="footer-content">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="../img/footer-logo.png" alt="footer-logo">
                        <p>Научно-исследовательский учебно-консультационный центр промышленной безопасности.
                            2000-2016</p>
                        <b>Промышленная безопасность в Украине</b>
                    </div>
                    <div class="col-md-3">
                        <h3>Полезные ссылки</h3>
                        <p>Быстря навигация по сайту</p>
                        <ul>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>
                            <li class="col-md-6"><a href="#">-Test</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Новостная подписка</h3>
                        <p>Подписка на последние новости из мира промышленной безопасности</p>
                        <input type="text">
                        <p>Ваш email будет полностью конфиденциален.</p>
                        <hr>
                        <a href="#"><img src="../img/vk.png" alt="vk"></a>
                        <a href="#"><img src="../img/youtube.png" alt="youtube"></a>
                        <a href="#"><img src="../img/vk.png" alt="vk"></a>
                        <a href="#"><img src="../img/youtube.png" alt="youtube"></a>
                    </div>
                    <div class="col-md-3">
                        <h3>Наши контакты</h3>
                        <div class="contact-info">
                            <img src="../img/location.png" alt="local">
                            <b>Адрес:</b>
                            <p>
                                Улица Армейская 18-а, Одесса, Украина 65006
                            </p>
                        </div>
                        <div class="contact-info">
                            <img src="../img/massage.png" alt="local">
                            <b>Адрес:</b>
                            <p>
                                Улица Армейская 18-а, Одесса, Украина 65006
                            </p>
                        </div>
                        <div class="contact-info">
                            <img src="../img/phone.png" alt="local">
                            <b>Адрес:</b>
                            <p>
                                Улица Армейская 18-а, Одесса, Украина 65006
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>