<!DOCTYPE html>
<html lang="ru">

<body>



<div class="container col s12 m12 l12" id="news_container" style=" margin-top: 10px">
    <h3 class="center black-text">Новости</h3>
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="img/dark_logo.png" alt="" class="circle">
            <span class="title indigo-text text-darken-4 ">Сайт вернулся!</span>
            <p style="width: 77%; font-size: 15px"> Что - то произошло и сайт снова с нами!<br>
                <span class="right right-align" style="font-size: 11px"> 01 января 2017 года</span>
                <br>
            </p>
            <a href="#!" class="secondary-content "><i class="material-icons small black-text">more_vert</i></a>
        </li>


    </ul>



</div>








</body>




<script>


    $( document ).ready(function(){
    })

</script>
</html>