<!DOCTYPE html>
<html lang="ru">

<body>



<div class="col s12 m8 l9" style="margin-top:10px">
    <h3 class="center"> Наши услуги </h3>

    <div class="row">
        <div class="row">



            <div class="row col s12 m12 l4">
                <div class="col s12 m12 l12">
                    <div class="hoverable large card">
                        <div class="card-image">
                            <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/Collaborative-Thinking.png">
                            <span class="card-title left left-align">Экспертиза</span>
                        </div>
                        <div class="card-content">
                            <p>Целью БЖ также является снижение риска возникновения чрезвычайной ситуации по вине человеческого фактора.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>

                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/expertize.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row col s12 m12 l4">
                <div class="col s12 m12 l12">
                    <div class="hoverable large card">
                        <div class="card-image">
                            <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/edu.png">
                            <span class="card-title left left-align">Обучение</span>
                        </div>
                        <div class="card-content">
                            <p>Целью БЖ также является снижение риска возникновения чрезвычайной ситуации по вине человеческого фактора.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>

                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/education.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row col s12 m12 l4 ">
                <div class="col s12 m12 l12">
                    <div class="hoverable large card">
                        <div class="card-image">
                            <img class="center left left-align" style = " object-fit: cover;  height:200px;"  src="img/outsourcing.png">
                            <span class="card-title center center-align">Аутсорсинг</span>
                        </div>
                        <div class="card-content left left-align">
                            <p>Разработка документации по всем пунктам промышленной безопасности</p>
                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/outsourcing.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row col s12 m12 l4">
                <div class="col s12 m12 l12">
                    <div class="hoverable large card">
                        <div class="card-image">
                            <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/docs.png">
                            <span class="card-title left left-align">Разработка докуметнации</span>
                        </div>
                        <div class="card-content left left-align">
                            <p>Разработка документации по всем пунктам промышленной безопасности</p>
                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/dev_doc.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row col s12 m12 l4">
                <div class="col s12 m12 l12">
                    <div class="hoverable large card">
                        <div class="card-image">
                            <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/project.jpg">
                            <span class="card-title left left-align">Проектирование</span>
                        </div>
                        <div class="card-content left left-align">
                            <p>Проектирование, монтаж и сервисное обслуживание пожарной сигнализации</p>
                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/project.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row col s12 m12 l4">
                <div class="col s12 m12 l12">
                    <div class="hoverable  large card">
                        <div class="card-image">
                            <img class="center center-align " style = " object-fit: cover;  height:200px;"  src="img/fire_alert.png">
                            <span class="card-title left left-align">Пожарная сигнализация</span>
                        </div>
                        <div class="card-content left left-align">
                            <p>Проектирование, монтаж и сервисное обслуживание пожарной сигнализации</p>
                        </div>
                        <div class="card-action center-align">
                            <p> <a href="javascript:void(0);" onclick="PageLoader('service/fire_alert.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>  </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col l2"></div>
        <div class="row col s12 m12 l4">
            <div class="col s12 m12 l12">
                <div class="hoverable large card">
                    <div class="card-image">
                        <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/audit.jpg">
                        <span class="card-title left left-align">Аудит</span>
                    </div>
                    <div class="card-content left left-align">
                        <p>Проектирование, монтаж и сервисное обслуживание пожарной сигнализации</p>
                    </div>
                    <div class="card-action center-align">
                        <p> <a href="javascript:void(0);" onclick="PageLoader('service/audit.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row col s12 m12 l4">
            <div class="col s12 m12 l12">
                <div class="hoverable large card">
                    <div class="card-image">
                        <img class="center center-align" style = " object-fit: cover;  height:200px;"  src="img/electric.png">
                        <span class="card-title left left-align">Проведение электроизмерений</span>
                    </div>
                    <div class="card-content">
                        <p>Выполняем лабораторные электротехнические измерения и испытания в электроустановках до и свыше 1000 В.</p>
                    </div>
                    <div class="card-action center-align">
                        <p> <a href="javascript:void(0);" onclick="PageLoader('service/electric.html',true);" class="waves-effect col s12 waves-light blue darken-4 btn">Подробнее</a>  </p>
                    </div>
                </div>
            </div>

        </div>







    </div>
</div>
</body>
</html>